body, html {
  height: 100%;
  box-sizing: border-box;
  font-family: $primary-font;
}
main {
  height: 100%;
}
.hero {
  background: url(../../img/street.jpeg) no-repeat center 70% fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1,h2,h3 {
  font-family: $primary-heading-font;
  color: $light-heading;
}
.hero-title {
  text-align: center;
  button {
    background-color: rgba(82,59,62,.9) !important;
    color: #fcd27b;
    border: 1px solid #fcd27b;
    margin-top: 2em;
    // display: none;
  }
  // display: none;
}
.nav-item {
  a {
    background: #ffca5e;
    color: initial !important;
    border-radius: 25px;
  }
}
#title {
  font-size: 10em;
  // display: none;
}
#quote {
  min-height: 300px;
  margin-top: 2em;
}
.photo {
  display: flex;
  justify-content: center;
  align-content: center;
  figure {
    img {
      height: 200px;
    }
  }
}
.photo-quote {
  p {
    text-align: center;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 1em;
  }
}
.bg-dark {
  background-color: rgba(185, 117, 94, 0.5) !important;
  border-bottom: 2px solid #5e3f3e;
}