@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Montserrat|Source+Code+Pro&display=swap:400,700,400italic");

$purple: #713e94;

.remark-slide {
  display: flex;
  &:after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 10px;
    background: #713e94;
  }
  &:before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 10px;
    background: #713e94;
  }
}
.remark-slide-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  p {
    margin: 10px 0;
  }
  h3 {
    display: flex;
    align-items: center;
  }
}
li {
  p {
    strong {
      color: #713e94;
      font-style: italic;
    }
  }
}
span.link a {
  text-decoration: none;
  color: inherit;
}
#slide-homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// margins
.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
  margin: 5px;
}
.remark-code,
.remark-inline-code {
  font-family: "Source Code Pro", monospace;
  text-align: left;
  color: #c7254e;
}
.javascript {
  padding: 1em !important;
}
#slide-homepage {
  background: $purple;
  color: white;
}
.two-columns {
  display: grid;
  grid-template: 1fr / 1fr 4fr;
  height: 100%;
  padding: 0;
  .left {
    display: flex;
    justify-content: start;
    align-items: center;
    background: $purple;
    color: white;
    padding: 0.75em;
  }
  .right {
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    p {
      margin: 1em 0;
      width: 100%;
    }
    .list {
      li {
        margin: 1em 0;
        text-align: left;
      }
    }
  }
}
p {
  text-align: left;
}
.text-center {
  text-align: center;
}
.footnote {
  right: 0;
  position: fixed;
  top: 5px;
  font-size: 0.6em;
  padding: 0;
  margin: 0 2em;
  p {
    text-align: left;
    margin: 0;
    padding: 0.5em;
    a,
    a:focus,
    a:visited {
      color: #03a9f4;
    }
  }
}
.no-scroll {
  code {
    overflow: hidden;
  }
}
.small {
  code {
    font-size: 0.5em;
  }
}
.medium {
  code {
    font-size: 0.75em;
  }
}
.medium {
  img {
    width: 350px;
  }
}
.large {
  img {
    max-height: 300px;
  }
}
.logo {
  img {
    width: 50px;
    margin: 0 10px;
  }
}
#slide-homepage {
  h1,
  h2,
  h3,
  h4 {
    text-shadow: #2b2b2b 1px 1px 0;
  }
  h3 {
    justify-content: center;
  }
}
.side-by-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Medium screens and up
@media (min-width: 768px) {
  .container {
    background-color: yellow;
  }
}

// Big screens
@media (min-width: 1024px) {
  .container {
    background-color: navy;
  }
}
